{% extends 'base.html'%} {%block titulo%} Lista titulo {%endblock%}

{%block conten %}
<h1>Lista de tarefas</h1>
<div class="offset-0 col-13 list-div">

    <div class="col-3 add-div">
        <i class="fas fa-anchor" ></i> adicionar tarefa
    </div>

    <div class="col-3 add-div">
        <i class="fas fa-anchor" ></i> adicionar tarefa 
    </div>
    <div class="col-5 search-div" class="form-control">
        <input type="text" id="search" name="search" placeholder="buscarR tarefa">
        <i class="fas fa-search"></i>
    </div> <!--classe uma div de 9 colunas com uma classe searchdiv que vamos usar no css 7--->

        <!--por fim... a nossa lista de tarefas-->
        <ul class="task-list1">
            {%for task in tasks %}
            <li class="task-item">

            <span><a href="/task/{{task.id}}">{{task.title}}</a></span>
            <!--icone para deletar-->
            <span><i class="fas fa-trash"></i></span>
            <span><i class="fas fa-edit"></i></span>
        </li>
            {%endfor%}
        </ul>
    



</div>
{%endblock%}